<div class="HolyGrail">
  <header>
    <h2 id='title'>
      <span class="words">
        My Next
      </span>
      <img src="https://www.divvybikes.com/assets/images/chicago/logo.svg">
    </h2>
  </header>
  <div class="HolyGrail-body">
    {{outlet}}
  </div>
  <footer>
    Made by Dean Marano  with help from
    <a href="http://divvybikes.com">Divvy</a>
    and
    <a href="http://forecast.io">forecast.io</a>
    |
    <a href="https://twitter.com/pleiadeez">@pleiadeez</a> |
    <a href="https://github.com/deanmarano/my-next-divvy">Github</a>
  </footer>
</div>
