<div class="HolyGrail">
  <header>
    <h2 id='title'>
      <span class="words">
        My Next
      </span>
      <img src="https://www.divvybikes.com/assets/images/chicago/logo.svg">
    </h2>
  </header>
  <div class="HolyGrail-body">
    {{outlet}}
  </div>
  <footer>Made by Dean Marano</footer>
</div>
