<nav class="HolyGrail-nav">
  <ul>
    {{#each station in model}}
      <li>{{link-to station.name 'station' station.id}}</li>
    {{/each}}
  </ul>
</nav>

<main class="HolyGrail-content">
  {{outlet}}
</main>
